:root {
    --footer-height: 40px;
    --opacity-fade-duration: 2s;
    --background-gradient: linear-gradient(to top, green, red);
    --title-gradient: linear-gradient(to top, green, red);
}

html, body{
    /* take up the full viewport with no extra spacing inside or out */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* align the header, main, and footer vertically */
    align-items: stretch;
}

header footer {
    /* flex item properties */
    flex: none; /* don't allow resizing and use the default width/height */
}

main {
    flex: 1; /* fill all available space, ignoring content size */
    overflow-y: auto; /* allow vertical scrolling */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: rgb(0, 0, 0);
    z-index: 1;
    margin: 0;
    top: 0;
}

header h1 {
    color: transparent;
    background: var(--title-gradient);
    background-clip: text;
    font-style: normal;
    mix-blend-mode: screen;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header i {
    color: white;
    margin: 5px;
}

footer {
    background-color: black;
    color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--footer-height,40px);
    margin: 0;
    padding: 0 8px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cover {
    background-color: rgb(181, 23, 23);
    color: white;
    padding: 8px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
    width: 200px;
    height: 300px;
    margin: 24px 16px;
    overflow: auto;
    display: flex;
}

.background {
    background-image: var(--background-gradient);
    display: block;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.inner {
    overflow: hidden;
    flex: 1;
}

.book {
    color: white;
}

/*
::-webkit-scrollbar {
    width: 0px;
}
*/